:root{
    --color-primary: #FF642E;
    --color-background: #F2F0F0;
    --color-secondary: #019CD2;
    --color-terciary: #ECAD3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
}

.active {
  color: var(--color-secondary);
  font-weight: bold;
}

select {
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
}
