:root{
    --color-primary: #FF642E;
    --color-background: #F2F0F0;
    --color-secondary: #019CD2;
    --color-terciary: #ECAD3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
}

