:root {
  --color-primary: #ff642e;
  --color-background: #f2f0f0;
  --color-secondary: #019cd2;
  --color-terciary: #ecad3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
  animation: side 1s ease;
}

.active {
  color: var(--color-secondary);
  font-weight: bold;
}

/* select {
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  background-color: var(--color-background);
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
} */

@keyframes side {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
